/* Reset */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#campo-da-gioco {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.quadrato {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}